
.img-center {
   position: absolute;
   top: 20%;
   left: 25%;
   }

.textfield {
    position: absolute;
    top: 50%;
    left: 30%
}

input {
    background: url(images/mic.png) no-repeat;
    background-position: 460px;
}

#search {
    position: absolute;
    top: 60%;
    left: 33%;
    padding: 10px

}

#lucky {
    position: absolute;
    top: 60%;
    left: 63%;
    padding: 10px;

}
